<div class="mt-3 mb-3">
    <div class="blokelis" [@blokelis]="busena"></div>
</div>
<div class="mt-3 mb-3">
    <button class="btn btn-success" (click)="animuoti()">Animuoti</button>
</div>


<div class="card">
    <div class="card-header">
        Pridėti naują darbuotoją
    </div>
    <div class="card-body">
        <form [formGroup]="employeForm" (ngSubmit)="newEmploye()">
            <div class="mb-3">
                <label for="name" class="form-label">Vardas:</label>
                <input type="text" id="name" class="form-control" formControlName="name" placeholder="Įveskite darbuotojo vardą">
                <span *ngIf="!employeForm.get('name')?.valid && employeForm.get('name')?.touched  ">Vardas įvestas neteisingai</span>
            </div>
            <div class="mb-3">
                <label for="surname" class="form-label">Pavardė:</label>
                <input type="text" id="surname" class="form-control" formControlName="surname" placeholder="Įveskite darbuotojo pavardę">
            </div>
            <div class="mb-3">
                <label for="gender" class="form-label">Lytis:</label>
                <select  id="gender" class="form-control" formControlName="gender">
                    <option value="male">Vyras</option>
                    <option value="female">Moteris</option>
                </select>
            </div>
            <div class="mb-3">
                <label for="email" class="form-label">El. pašto adresas:</label>
                <input type="text" id="email" class="form-control" formControlName="email" placeholder="Įveskite darbuotojo el. paštą">
                {{ outError() }}
            </div>

            <hr>
            <div formArrayName="phones">
                <h4>Telefono numeriai</h4>
                <div *ngFor="let phoneControl of phones(); let i=index" class="mb-3">
                    <input type="text" class="form-control" [formControlName]="i">
                </div>
            </div>
            <button type="button" class="btn btn-info" (click)="addPhone()">Pridėti telefoną</button>
            <hr>

            <div formArrayName="addresses">
                <h4>Adresai</h4>
                <div class="mb-3 row" *ngFor="let address of addresses(); let i=index" [formGroup]="abstractToFormGroup(address)">
                        <div class="col-md-1">
                            <input type="text" class="form-control-plaintext " [value]="i+1" readonly disabled style="text-align: right;">
                        </div>

                        <div class="col-md-4">
                            <select class="form-control" formControlName="city">
                                <option *ngFor="let city of cities">{{ city.city }}</option>
                           </select>
                            <!-- <input type="text" formControlName="city" class="form-control " placeholder="Miestas"> -->
                        </div>
                        <div class="col-md-7">
                            <input  type="text" formControlName="street" class="form-control" placeholder="Gatvė ir namo numeris">
                        </div>
                </div>
            </div>
            <button type="button" class="btn btn-info" (click)="addAddress()">Pridėti adresą</button>
            <hr>
            <button type="submit" class="btn btn-success" [disabled]="!employeForm.valid" >Pridėti</button>
            
        </form>
    </div>
</div>
