<div class="card">
    <div class="card-header">
        Pridėti naują receptą
    </div>
    <div class="card-body">
        <form [formGroup]="receptoForma" (ngSubmit)="newReceptas()">
            <div class="mb-3">
                <label for="pavadinimas" class="form-label">Recepto pavadinimas:</label>
                <input id="pavadinimas" class="form-control" formControlName="pavadinimas" placeholder="Įveskite recepto pavadinimą" type="text">
                <!-- <span *ngIf="!receptoForma.get('name')?.valid && receptoForma.get('name')?.touched  ">Vardas įvestas neteisingai</span> -->
            </div>
            <div class="mb-3">
                <label for="gaminimo_laikas" class="form-label">Gaminimo trukmė (5 min interval.):</label>
                <input id="gaminimo_laikas" class="form-control" formControlName="gaminimo_laikas" placeholder="Įveskite recepto gaminimo trukmę" type="number">
            </div>
            <div class="mb-3">
                <label for="aprasymas" class="form-label">Aprašymas:</label>
                <textarea name="aprasymas" id="aprasymas" formControlName="aprasymas" class="form-control" rows="3" placeholder="Recepto aprašymas" type="text"></textarea>
            </div>
            <div class="mb-3">
                <label for="nuotrauka" class="form-label">Nuotraukos URL:</label>
                <input  id="nuotrauka" class="form-control" formControlName="nuotrauka" placeholder="Įveskite recepto nuotraukos URL" type="text">
            </div>
            <div class="mb-3">
                <label for="kalorijos" class="form-label">Kalorijų skaičius:</label>
                <input  id="kalorijos" class="form-control" formControlName="kalorijos" placeholder="Įveskite kalorijų skaičių" type="number">
            </div>
            
            <hr>
            <div formArrayName="alergenai">
                <h4>Alergenai</h4>
                <div *ngFor="let alergenuControl of alergenai(); let i=index" class="mb-3 row">
                    <div class="col-md-11">
                        <input type="text" class="form-control" [formControlName]="i">
                      </div>
                      <div class="col-1">
                        <button  type="button" class="btn btn-danger" (click)="pasalintiAlergena(i)">X</button>
                      </div>
                </div>
            </div>
            <button type="button" class="btn btn-info" (click)="pridetiAlergena()">Pridėti alergeną</button>

            <div formArrayName="ingridientai">
                <h4>Ingridientai</h4>
                <div class="mb-3 row" *ngFor="let address of ingridientai(); let i=index" [formGroup]="abstractToFormGroup(address)">
                        <div class="col-md-1 mb-3">
                            <input type="text" class="form-control-plaintext " [value]="i+1" readonly disabled style="text-align: right;">
                        </div>
                        <div class="col-md-7">
                            <input type="text" formControlName="produkto_pavadinimas" class="form-control " placeholder="Produkto pavadinimas">
                        </div>
                        <div class="col-md-2">
                            <input type="number" formControlName="kiekis" class="form-control " placeholder="Kiekis" min="0">
                        </div>
                        <div class="col-md-2">
                            <select class="form-control" formControlName="matavimo_vnt" name="" id="">
                                <option>vnt.</option>
                                <option>kg</option>
                                <option>g</option>
                                <option>stiklinė</option>
                            </select>
                        </div>
                        <div class="d-grid gap-2 col-6 mx-auto">
                            <button  type="button" class="btn btn-danger mx-auto" (click)="pasalintiIngridienta(i)">Pašalinti ingridientą</button>

                        </div>
                </div>
                <button type="button" class="btn btn-info me-3" (click)="pridetiIngridienta()">Pridėti ingridientą</button>
                <!-- <button *ngIf="i>0" type="button" class="btn btn-info" (click)="pasalintiIngridienta()">Pašalinti ingridientą</button> -->
                <hr>
            </div>

            <hr>
            <button type="submit" class="btn btn-success" [disabled]="!receptoForma.valid" >Pridėti</button>
        
        </form>
    </div>
</div>
