<div class="row">
    <div class="col-md-6 offset-md-3 col-xs-12 mt-5">
        <div class="card">
            <div class="card-header">Registracija</div>
            <div class="card-body">
                <form (ngSubmit)="onSubmit(f)" #f="ngForm">
                    <div class="mb-3">
                        <label for="" class="form-label">El. pašto adresas:</label>
                        <input type="text" class="form-control" ngModel name="email" email required>
                    </div>
                    <div class="mb-3">
                        <label for="" class="form-label">Slaptažodis:</label>
                        <input type="password" class="form-control" ngModel name="password" minlength="6" required>
                    </div>
                    <button type="submit" class="btn btn-info" >Registruotis</button>
                </form>
            </div>
        </div>
    </div>
</div>