<div class="row">
    <div class="col-md-6 offset-md-3 col-xs-12 mt-3">
      <div class="card">
        <div class="card-header">Registracija</div>
        <div class="card-body">
          <form (ngSubmit)="onSubmit(form)" #form="ngForm">
            <div class="mb-3">
              <label for="" class="form-label">El. paštas</label>
              <input
                type="text"
                class="form-control"
                ngModel
                name="email"
                [(ngModel)]="email"
                required
              />
            </div>
            <div class="mb-3">
              <label for="" class="form-label">Slaptažodis</label>
              <input
                type="password"
                class="form-control"
                ngModel
                name="password"
                [(ngModel)]="password"
                minlength="6"
                required
              />
            </div>
            <div class="mb-3">
              <label for="" class="form-label">Pakartokite slaptažodį</label>
              <input
                type="password"
                class="form-control"
                ngModel
                name="passwordConfirm"
                [(ngModel)]="passwordConfirm"
                minlength="6"
                required
              />
            </div>
            <button
              type="submit"
              class="btn btn-info"
              [disabled]="!form.valid || password !== passwordConfirm"
            >
              Registruotis
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>