<div class="card">
    <div class="card-header">Užduočių sąrašas</div>
    <div class="card-body">

        <ul class="list-group">
            <li class="list-group-item" *ngFor="let task of tasks; let n=index">
                <b>{{ n+1 }}. {{ task.taskName }}</b>, užduoties skubumas: {{ task.taskType}}.
                <button class="btn btn-primary float-end" (click)="deleteTask(n)">Užduotis padaryta</button>
                <a [routerLink]="['update', n]" class="btn btn-info float-end me-2">Redaguoti uŽduotį</a>
            </li>

        </ul>
    </div>
</div>
<app-tasks-statistics></app-tasks-statistics>