<div class="card mb-3">
    <div class="card-body">
        <h5 class="card-title">{{ employe?.name }} {{ employe?.surname }}</h5>
        <p class="card-text">Lytis: <b>{{ employe?.gender=='male'?'Vyras':"Moteris" }}</b></p>
    </div>
    <div class="card-footer">
        <div><span class="text-muted">Atlikta darbų: </span><b>{{ employe?.completedWorks }}</b></div>
        <button class="btn btn-success btn-sm" (click)="employeDetails(employe?.id)">Detalesnė informacija</button>
    </div>
</div>
