<div class="card mb-3">
    <div class="card-header">Receptų sąrašas</div>
    <div class="card-body">
        <table class="table">
            <thead>
                <tr>
                    <th>Patiekimo laikas</th>
                    <th>Pavadinimas</th>
                    <th>Gaminimo trukmė</th>
                    <th>Aprašymas</th>
                    <th>Nuotrauka</th>
                    <th>Kalorijos</th>
                    <th>Alergenai</th>
                    <th>Ingridientai</th>
                    <th>Patiktukai</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let receptas of receptai">
                    <td>{{ receptas.rekomenduojamas_laikas }}</td>
                    <td>{{ receptas.pavadinimas }}</td>
                    <td>{{ receptas.gaminimo_laikas }}</td>
                    <td>{{ receptas.aprasymas }}</td>
                    <td><img [src]="receptas.nuotrauka" height="100px" width="100px" /></td>
                    <td>{{ receptas.kalorijos }}</td>
                    <td>
                       <div *ngFor="let alergenas of receptas.alergenai">{{ alergenas }}</div> 
                    </td>
                    <td>
                        <div *ngFor="let ingridientas of receptas.ingridientai">
                            {{ ingridientas.produkto_pavadinimas }} {{ ingridientas.kiekis }} {{ ingridientas.matavimo_vnt }} 
                        </div>
                    </td>
                    <td>
                        {{ receptas.likes }}
                    </td>
                    <td>
                        <button class="btn btn-success" (click)="increaseLikes(receptas.id)">Patinka</button>
                    </td>
                </tr>
                <tr>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="card mb-3">
    <div class="card-header">Patiekimo laikų lentelė</div>
    <div class="card-body">
        <table class="table">
            <thead>
                <tr>
                    <th>Pusryčiai</th>
                    <th>Priešpiečiai</th>
                    <th>Pietūs</th>
                    <th>Vakarienė</th>
                </tr>
            </thead>
            <tbody>
               <td>
               </td>
            </tbody>
        </table>
    </div>
</div>