<div class="card">
    <div class="dar-body">

        <div *ngIf="!loading && !error">

            <div class="mb-3">
                <label class="form-label">FROM:</label>
                <select class="form-control" [(ngModel)]="currencyFROM" >
                    <option *ngFor="let currency of currencyArray" [value]="currency.code">{{ currency.code }} {{ currency.title }}</option>
                </select>
            </div>

            <div class="mb-3">
                <label class="form-label">TO:</label>
                <select class="form-control" [(ngModel)]="currencyTO" >
                    <option *ngFor="let currency of currencyArray" [value]="currency.code">{{ currency.code }} {{ currency.title }}</option>
                </select>
            </div>

            <div class="mb-3">
                <label class="form-label">AMOUNT:</label>
                <input type="number" class="form-control" [(ngModel)]="amount" />
            </div>

            <button class="btn btn-success mb-3" (click)="exchangeCurrency()">Convert</button>

            <div *ngIf="!loading && !error" class="alert alert-info">
                <h4>Result</h4>
                <p>{{ result }}</p>
                <button class="btn btn-success mb-3" (click)="clear()">Clear</button>
            </div>
          
        </div>

        <div *ngIf="loading && !error" class="alert alert-info">
            Content is loading...
        </div>

        <div *ngIf="error" class="alert alert-danger">
            Error...
        </div>

    </div>
</div>