<div class="card">
    <div class="card-header">Užregistruoti vaikai</div>
    <div class="card-body">
        <table class="table">
            <thead>
                <tr>
                    <th>Vardas</th>
                    <th>Pavardė</th>
                    <th>Gimimo metai</th>
                    <th>Lytis</th>
                    <th>Klasė</th>
                    <th>Tel. nr.</th>
                    <th>El. paštas</th>
                    <th *ngIf="user!=null">Veiksmai</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let registration of registrations">
                    <td>{{ registration.vardas }}</td>
                    <td>{{ registration.pavarde }}</td>
                    <td>{{ registration.gim_metai }}</td>
                    <td>{{ registration.lytis }}</td>
                    <td>{{ registration.klase }}</td>
                    <td>{{ registration.telefonas }}</td>
                    <td *ngIf="user!=null">{{ registration.email }}</td>
                    <td>
                        <a [routerLink]="['/registrationEdit',registration.id]" class="btn btn-info me-3">Redaguoti</a>
                        <button class="btn btn-danger" (click)="onDeleteRegistration(registration.id)">Ištrinti</button>                       
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<!-- <div class="modal" tabindex="-1" [ngStyle]="{ display: display }">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Vaiko ištrinimas</h5>
        <button  type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="onClose()"></button>
      </div>
      <div class="modal-body">
        <p>Ar norite ištrinti vaiko {{ person.vardas }} {{ person.pavarde }} duomenis?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-warning" data-bs-dismiss="modal" (click)="onClose()">
          Atšaukti
        </button>
        <button type="button" class="btn btn-danger" (click)="onDeleteRegistration(person.id)">
          Ištrinti
        </button>
      </div>
    </div>
  </div>
</div>              -->