/* You can add global styles to this file, and also import other style files */
body{
    background-color: olive;
}

input.ng-invalid.ng-touched {
    border: 1px solid #f00;   
}

input.ng-valid.ng-touched {
    border: 3px solid limegreen;
}